<!DOCTYPE html>
<html>
  <head>
    <title>Battleship</title>
    <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="container">      
      <div id="game">
      <h3 v-if="room != null && isHost">Share this URL with a friend <input type="text" onClick="this.select();" value="{{room}}" class="form-control"></h1>
      <h3 v-else>Welcome to battleship!</h3>
      <div class="row">
      	<div class="col-md-4">
          <h4 v-show="opponentReady && ready && canFire" >Your turn</h4>
      		<h4>Your board <span v-show="!ready" style="color:red;">Not ready</span><span v-else style="color:lightgreen;">Ready</span></h4>
        	<board :cols="10" :rows="10"></board>
        	 	
        </div>
        <div class="col-md-4">
        <h4 v-show="opponentReady && ready && !canFire" >Opponent's turn</h4>
        <h4>Opponent's board {{statusMessage}}</h4>
        	<opponent-board :cols="10" :rows="10"></board>   
        </div>
		</div>
        <div class="col-md-3">
        <h3>Your ships <button @click="rotated = !rotated" type="button" class="btn btn-default btn-xs">Rotate ship {{rotated ? 'vertical' : 'horizontal'}}</button></h3>
        <p v-for="ship in ships">{{ ship.type }} {{ ship.amount}}x <button @click="setSelectedShip(ship)" :disabled="ship.amount == 0" type="button" class="btn btn-default btn-xs">Select</button></p>
        </div>
      
      </div>
      <template id="board-template">
      		<table border="1">
	        	<tr v-for="i in rows+1">
	        		<td v-for="n in cols+1" v-if="n == 0">{{ i == 0 ? '' : i}}</td>
	        		<td v-for="n in cols+1" v-if="i == 0 && n != 0">{{ n | convertChar }}</td>
	        		<td @click="placeShip($event)" data-cords="{{i + '' + n}}" v-on:mouseleave="setDef($event)" v-on:mouseover="changeStyle($event)" class="tile" v-if="i > 0" v-for="n in cols"></td>
	        	</tr>
        	</table>
      </template>
      <template id="opponent-board-template">
      		<table border="1">
	        	<tr v-for="i in rows+1">
	        		<td v-for="n in cols+1" v-if="n == 0">{{ i == 0 ? '' : i}}</td>
	        		<td v-for="n in cols+1" v-if="i == 0 && n != 0">{{ n | convertChar }}</td>
	        		<td @click="fire($event)" data-opcords="{{i + '' + n}}" data-hittable="true" class="tile" v-if="i > 0" v-for="n in cols"></td>
	        	</tr>
        	</table>
      </template>
    </div>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/vue/dist/vue.js"></script>
  <script type="text/javascript" src="/js/ship.js"></script>
</html>